* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    background-color: #f9f9fb;
    color: #6c747c;
}

.hedaer {
    width: 850px;
    height: 100px;
    margin: 150px auto 70px;
    text-align: center;
    line-height: 35px;
}

.hedaer h2 {
    font-size: 32px;
    color: #202428;
}


/* 主体 */

.main {
    width: 930px;
    height: 700px;
    margin: 72px auto 0px;
}

.main .BA {
    width: 610px;
    height: 600px;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
    margin-right: 30px;
    color: #202428;
}

.main .BA .Ba {
    font-size: 22px;
    font-weight: bold;
}

.main .BA div {
    margin-top: 22px;
}

.main .BA input {
    display: block;
    width: 605px;
    height: 36px;
    border: 1px solid #cfd5db;
    color: #6c747c;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 4px;
}

.main .BA .Fn {
    float: left;
    margin-right: 28px;
}

.main .BA span {
    color: #6c747c;
}

.main .BA div p input {
    width: 285px;
}

.main .BA div p input {
    width: 285px;
}

.main .BA div .country {
    width: 236px;
    height: 63px;
    float: left;
    margin-right: 28px;
    margin-top: 0px;
}

.main .BA div .state {
    width: 183px;
    height: 63px;
    float: left;
    margin-right: 28px;
    margin-top: 0px;
}

.main .BA div .country select {
    height: 36px;
    width: 230px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 4px;
}

.main .BA div .state select {
    height: 36px;
    width: 180px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 4px;
}

.main .BA div .zip {
    width: 130px;
    height: 63px;
    float: left;
    margin-top: 0px;
}

.main .BA div .zip input {
    width: 130px;
}


/* YC */

.main .YC {
    width: 290px;
    float: left;
    line-height: 18px;
}

.main .YC div {
    width: 248px;
    height: 31px;
    color: #202428;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #6c747c;
    border-bottom: 0px;
    padding: 16px 20px;
    background-color: #ffffff;
}

.main .YC p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .YC .fir {
    border-radius: 5px 5px 0px 0px;
}

.main .YC .fiv {
    border-bottom: 1px solid #6c747c;
    border-radius: 0px 0px 5px 5px;
}

.main .YC .six {
    height: 40px;
    width: 272px;
    padding: 8px;
    margin-top: 16px;
    border-bottom: 1px solid #6c747c;
    border-radius: 5px;
}

.main .YC .six .pr {
    color: #6c747c;
    font-size: 20px;
    width: 185px;
    height: 38px;
    padding-left: 5px;
    float: left;
    border: 1px solid #6c747c;
    border-radius: 5px 0px 0px 5px;
}

.main .YC .six .tijiao {
    float: left;
    height: 40px;
    width: 78px;
    color: #ffffff;
    background-color: #6c747c;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
}

.foot {
    float: left;
}

#addEmpButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-top: 170px;
}

#userTable {
    border-collapse: collapse;
    border-spacing: 1px;
    background-color: #f9f9fb;
    margin: 80px auto 500px auto;
    text-align: center;
    color: #202428;
    line-height: 40px;
}

th,
td {
    border: 1px solid #000;
    width: 150px;
}